# Environment variables
.env
.env.production
.env.local

# Temp files
nginx/nginx.prod.conf

# Node
node_modules/
dist/

# Go
server/server

# OS
.DS_Store
coturn/turnserver.prod.conf
server/data/vapid.json
server/data/subscriptions.db
/server/data/snapshots
nginx/conf.d/legacy.extra
nginx/nginx.legacy.conf.template
