services:
  coturn:
    network_mode: "host"
    volumes:
      - ./coturn/turnserver.prod.conf:/etc/coturn/turnserver.conf
    command:
      - /usr/bin/turnserver
      - -c
      - /etc/coturn/turnserver.conf
      - --static-auth-secret=${TURN_SECRET}

  nginx:
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
