services:
  coturn:
    volumes:
      - ./coturn/turnserver.prod.conf:/etc/coturn/turnserver.conf

  nginx:
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
